/*start background*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
	text-decoration: none;
	color: black;
	box-sizing: border-box;
}
/*end background*/

/*start logo*/

.logo	{
	text-transform: uppercase;
	letter-spacing: 8px;
	font-size: 20px;
}
/*end logo*/

/*start navbar*/

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
}

.nav-links {
	display: flex;
	width: 40%;
	justify-content: space-around;
}

.nav-links li{
	list-style: none;
	background-color: rgba(255, 255, 255, 0.5);
}

.nav-links a{
	list-style: none;
	text-transform: none;
	letter-spacing: 3px;
	line-height: 25pt;
}
/*end navbar*/

/*start burger*/

.burger {
	display: none;
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 1px;
	background-color: black;
	margin: 5px;
	transition: 0.3s ease;
}

@media screen and (max-width: 1024px) {
	.nav-links {
		width: 55%;
	}
}

@media screen and (max-width: 768px) {
	body	{
		overflow-x: hidden;
	}
	.nav-links {
		position: absolute;
		right: 0px;
		height: 95vh;
		top: 8vh;
		display: inline-block;
		flex-direction: column;
		justify-content: center;
		width: 20%;
		transform: translateX(0px);
		transition: transform 0.5s ease-in;
	}
	.nav-links li {
		opacity: 0
	}
	.burger {
		display: block;
	}
	#fas1,
	#fas2 {
		display: none;
	}
}


.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade{
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}

}

/*end burger*/

/*start picture carousel home*/

img {
	max-width: 600px;
	max-height: 600px;
	object-fit: cover;
	margin: 10px;
}

.carousel-slide {
	display: grid;
	gap: var(--size-3);
	grid-auto-flow: column;
	overflow-x: auto;
	overscroll-behavior-inline: contain;
}

body::webkit-scrollbar{
	display: none;
}

.snaps-inline {
	scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
	scroll-snap-align: start;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-track{
	background: hsl(0 0% 100% / 1);
}

::-webkit-scrollbar-thumb {
	background: hsl(0 0% 85% / 1);
	border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
	background: hsl(0 0% 78% / 1);
}
/*end picture carousel home*/

/*start contact*/

.contact-section h1 {
	text-align: center;
	margin: 10px;
	padding: 30px;
}

.contact-section {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

form {
	width: 90%;
	max-width: 600px;
}

.contact-form-text{
	margin-bottom: 50px;
	position: relative;

}

input, textarea {
	width: 100%;
	padding: 10px;
	outline: 0;
	border: 1px solid;
	font-size: 15px;
}

label {
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px;
	color: #000000;
	cursor: text;
	transition: 0.2s;
}

button {
	padding: 10px 0;
	color: #000000;
	outline: none;
	border: 1px solid;
	width: 10%;
	cursor: pointer;
}

input:focus~label,
input:valid~label {
	top: -35px;
	font-size: 14px;
}

textarea:focus~label,
textarea: valid~label{
	display: block;
	font-size: 14px;

}

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.row.contact-form-text{
	flex-basis: 48%;

}
/*end contact*/

/*snipe video*/

.snipevideo h1 {
	font size: 40px;
	text-align: center;
	margin: 10px;
	padding: 30px;
}

.snipevideo {
	position: relative;
	padding-bottom: 54.25%;
	padding-top: 25px;
	height: 0px;
}

.snipevideo iframe {
	position: absolute;
	left: 100px;
	top: 100px;
	right: 100px;
	bottom: 100px;
	height: 80%;
	width: 80%;
}
/*snipe video*/

/*social media starts*/

footer {
	height: auto;
	width: 100vw;
	padding-top: 40px;	
}

.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.footer-content h3{
	text-transform: capitalize;
	line-height: 3rem ;
}

.footer-content p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 20px;
	font-size: 14px;
}

.socials{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
}

.socials li{
	margin: 0 10px;
}

.socials a{
	text-decoration: none;
}

.socials a li{
	font-size: 5rem;
	transition: color .4s ease;
}

.socials a:hover i{
	color: red;
}

.footer-bottom{
	width: 100vw;
	padding: 0px;
	text-align: center;
}

.footer-bottom p{
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
}

.footer-bottom span{
	text-transform: uppercase;
	opacity: .4;
	font-weight: 200;
}
/*social media ends*/

.about h1{
	font-family: Popping, sans-serif;
	text-align: center;
	text-size: 40px;
	padding: 50px 0 0 0;
}

.about p{
	font-family: Poppins, sans-serif;
	text-align: center;
	padding: 50px 0 0 0;
	line-height: 50px;
}

.videowrapper h1 {
	font-size: 30px;
	text-align: center;
}

.videowrapper {
	width: 100vw;
	display: flex;
	margin: auto;
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	display: block;
}

.videowrapper iframe {
	position:absolute;
	left: 0px;
	top: 100px;
	right: 0px;
	bottom: 0px;
	height: 70%;
	width: 70%;
}